{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/image.png' %}" rel="icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link type="text/css" href={% static 'css/main.css' %} rel="stylesheet"
    type="text/css" />
  </head>

  <body>
    {% block nav %}
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <img src="{% static 'img/image.png' %}" alt="" />
          <h1 class="title">Donaciones</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/" class="active">Dashboard</a></li>
            <li><a href="/question">Preguntas frecuentes</a></li>
            <li><a href="/contact">Contactos</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#"
                ><span>Donaciones</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                <li><a href="/food">Alimentos</a></li>
                <li><a href="/transaccion_items">Productos</a></li>
                <li><a href="/money">Economicas</a></li>
                <li><a href="/money">Bisuteria</a></li>
              </ul>
            </li>
            <li>
              <a href="/productos/cantidad">Donar producto</a>
            </li>
            <li>
              <a href="/productos_donados">Productos Donados</a>
            </li>
            <li>
              <a href="/transaccion">Transaccion</a>
            </li>
            <li>
              <a class="account" href="/signout">Salir cuenta</a>
            </li>
            {% else %}
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/services">Nuestro trabajo</a></li>
            <li>
              <a class="account" href="/signin">Acceder cuenta</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
    {% endblock nav %} {% block content %} {% endblock content %}
    <!-- ======= Footer ======= -->
    {% block footer %}
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'img/image.png' %}" alt="" />
              <span>Donaciones</span>
            </a>
            <p>
              Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
              nada terra videa magna derita valies darta donna mare fermentum
              iaculis eu non diam phasellus.
            </p>
            <div class="social-links d-flex mt-4">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Muestro menu</h4>
            <ul>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Quienes somos</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Terminos y condiciones</a></li>
              <li><a href="#">Politicas de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Con quienes trabajamos</h4>
            <ul>
              <li><a href="#">Voluntarios - Responzables</a></li>
              <li><a href="#">Voluntarios - Entregas</a></li>
              <li><a href="#">Voluntarios - Recogidas</a></li>
              <li><a href="#">Organizaciones beneficas</a></li>
              <li><a href="#">Organizaciones receptora</a></li>
              <li><a href="#">Donantes</a></li>
            </ul>
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          ></div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Donaciones</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    {% endblock footer %}

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
