{% extends "layouts/base.html" %} {% load static %} {% block content %}
<!-- ======= block nav ======= -->
{% block nav %} {%endblock nav %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Dashboard</a></li>
          <li>Solicitar usuario</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Get a Quote Section ======= -->
  <section id="account" class="account">
    <div class="container" data-aos="fade-up">
      <div class="row g-0">
        <div
          class="col-lg-7 quote-bg"
          style="background-image: url('{% static 'img/quotebg.jpg' %}')"
        ></div>
        <div class="col-lg-5 d-flex align-items-center p-3">
          <div class="card card-body">
            <form
              action="solicitudVoluntario"
              method="POST"
              class="card card-body text-dark"
            >
              {% csrf_token %} {{form.as_p}}
              <button
                class="form-control btn btn-outline-secondary"
                type="submit"
              >
                SER VOLUNTARIO
              </button>
            </form>
          </div>
        </div>
        <!-- End Quote Form -->
      </div>
    </div>
  </section>
  <!-- End Get a Quote Section -->
</main>

<!-- End #main -->{% endblock content %} {% block footer %}{% endblock footer %}
