{% extends "layouts/base.html" %} {% load static %} {% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div
    class="page-header d-flex align-items-center"
    style="background-image: url('{% static 'img/page-header.jpg' %}')"
  >
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Donacion de productos</h2>
          <p>
            Ofrece la posibilidad de apoyar esta iniciativa a las organizaciones
            donantes y personas naturales, donando productos específicos
            perecederos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="/">Dashboard</a></li>
        <li>Donar Productos</li>
      </ol>
    </div>
  </nav>
</div>
<!-- End Breadcrumbs -->
<section class="container">
  <table class="table">
    <thead>
      <tr>
        <h1>Donaciones</h1>
      </tr>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row">
        <form action="/donation/" method="POST">
          {% csrf_token %} {% for field in form %}
          <td>{{ field }}</td>
          {% endfor %}
          <td>
            <button name="guardar" class="btn btn-secondary">Guardar</button>
          </td>
        </form>
      </tr>

      {% for donation in donations %}
      <tr>
        <td>{{ donation.nombre}}</td>
        <td>{{ donation.cantidad}}</td>
        <td>{{ donation.tipo}}</td>
        <td>
          <a
            href="/product/donar"
            type="button"
            name="completar"
            class="btn btn-warning"
            >Completar</a
          >
          <button name="borrar" class="btn btn-secondary">Borrar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
