{% extends "layouts/base.html" %} {% load static %} {% block content %}

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div
          class="page-header d-flex align-items-center"
          style="background-image: url('{% static 'img/page-header.jpg' %}')"
        >
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>Quienes somos</h2>
                <p>
                  Somos un grupo sin fines de lucro promoviendo la colaboracion
                  entre personas voluntaria, donantes y beneficiarios. Forma
                  parte este proyecto <b>incentivando una sonrisa</b>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <div class="container">
            <ol>
              <li><a href="/">Dashboard</a></li>
              <li>Quienes somos</li>
            </ol>
          </div>
        </nav>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div
              class="col-lg-6 position-relative align-self-start order-lg-last order-first"
            >
              <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="" />
              <a
                href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                class="glightbox play-btn"
              ></a>
            </div>
            <div class="col-lg-6 content order-last order-lg-first">
              <h3>Sobre Nosotros</h3>
              <p>
                Damos nuestro granito de arena promoviendo la colaboracion
                buscando personas voluntaria, donantes y beneficiarios.
              </p>
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="fa-solid fa-f"></i>
                  <div>
                    <h5>ortalezas</h5>
                    <p>
                      Facilitar la coordinación entre donantes, voluntarios y
                      organizaciones beneficiarias.
                    </p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="fa-solid fa-o"></i>
                  <div>
                    <h5>portunidades</h5>
                    <p>
                      Colaboración con supermercados y empresas de alimentos
                      para aumentar las donaciones.
                    </p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="fa-solid fa-d"></i>
                  <div>
                    <h5>ebilidades</h5>
                    <p>
                      Dependencia de la participación activa de donantes y
                      voluntarios.
                    </p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="fa-solid fa-a"></i>
                  <div>
                    <h5>menazas</h5>
                    <p>
                      Cambios inesperados en la demanda de alimentos por parte
                      de las organizaciones beneficiarias
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Mision Vision Section ======= -->
      <section class="breadcrumbs data-aos="fade-up"">
        <div class="row d-flex flex-column align-items-center">
          <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="section-header ">
              <span>Mision</span>
              <h2>Mision</h2>
            </div>
            <p>
              Implementar un Sistema a corde a la exigencia del usuario en general donde pueda ser capaz de abastecer donaciones de alimentos,
coordinar la recogida y entrega, y generar informes sobre la cantidad de alimentos donados.
            </p>
          </div>
          <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="section-header">
              <span>Vision</span>
              <h2>Vision</h2>
            </div>
            <p>
              Desarrollo de una plataforma tecnológica segura y fácil de usar para dar conciencia creciente sobre la importancia de las donaciones de alimentos y crear un impacto social positivo implementando soluciones innovadoras para mejorar la eficiencia de la distribución con el objetivo de apoyar a personas necesitadas.
            </p>
          </div>
        </div>
      </section>

      <!-- End Mision Vision Section -->

      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team pt-0">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <span>Nuestro equipo</span>
            <h2>Nuestro equipo</h2>
          </div>

          <div
            class="row d-flex justify-content-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 d-flex">
              <div class="member">
                <img
                  src="{% static 'img/team/team-1.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-content">
                  <h4>Walter White</h4>
                  <span>Web Development</span>
                  <p>
                    Magni qui quod omnis unde et eos fuga et exercitationem.
                    Odio veritatis perspiciatis quaerat qui aut aut aut
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->

            <div class="col-lg-4 col-md-6 d-flex">
              <div class="member">
                <img
                  src="{% static 'img/team/team-3.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-content">
                  <h4>William Anderson</h4>
                  <span>Content</span>
                  <p>
                    Voluptas necessitatibus occaecati quia. Earum totam
                    consequuntur qui porro et laborum toro des clara
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->
          </div>
        </div>
      </section>
      <!-- End Our Team Section -->

    {% endblock %}
