{% extends "layouts/base.html" %} {% load static %} {% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('{% static 'img/page-header.jpg' %}')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Detalles de lo que hacemos</h2>
            <p>
              recogemos las donaciones desde un punto indicado para realizar el
              respectivo traslado y entrega de la donacion.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Dashboard</a></li>
          <li>Recoger</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Service Details Section ======= -->
  <section id="service-details" class="service-details">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="services-list">
            <a href="#" class="active">Proceso del recojo</a>
          </div>

          <h4>Descripcion</h4>
          <p>
            Es el recorrido que realiza los voluntarios para obtener la donacion
            en coordinacion con el donante ; dicho recorrido va a estar
            monitoreado por los estados del proceso.
          </p>
        </div>

        <div class="col-lg-8">
          <img
            src="{% static 'img/service-details.jpg' %}"
            alt=""
            class="img-fluid services-img"
          />
          <h3>Proceso de recojo</h3>
          <p>
            la persona voluntaria va a recoger la donacion con sus colaboradores
            en el lugar establecido por le donante donde el donante entrega la
            donacion a los voluntarios para la respectiva entrega.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Responzable de recojo.</span>
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Colaborador de recojo.</span>
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Organizacion o persona donante</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Details Section -->
</main>
<!-- End #main -->
{% endblock %}
