{% extends "layouts/base.html" %} {% load static %} {% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('{% static 'img/page-header.jpg' %}')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Detalles de lo que hacemos</h2>
            <p>
              recogemos las donaciones desde un punto indicado para realizar el
              respectivo traslado y entrega de la donacion.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Dashboard</a></li>
          <li>Entregar</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Service Details Section ======= -->
  <section id="service-details" class="service-details">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="services-list">
            <a href="#" class="active">Proceso de entrega</a>
          </div>

          <h4>Descripcion</h4>
          <p>
            Entrega: Es el resultado de todo el proceso previo, que se inicia en
            el momento en el que el receptor realiza la peticion y dura durante
            todo el proceso que permite que la donacion llegue del lugar de
            recepcion hasta las manos del receptor en cuestión.
          </p>
        </div>

        <div class="col-lg-8">
          <img
            src="{% static 'img/service-details.jpg' %}"
            alt=""
            class="img-fluid services-img"
          />
          <h3>proceso de entrega</h3>
          <p>
            el responzable voluntario y sus colaboradores tranladan y entrega a
            el receptor la donacion solicitada.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Responzable de entrega.</span>
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Colaborador de entrega.</span>
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>Organizacion o responzable donante.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Details Section -->
</main>
<!-- End #main -->
{% endblock %}
